<%- model_class = ImportFile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
</div>

<%= grid(@import_files_grid) do |g|
    g.column name: model_class.human_attribute_name(:file_name), attribute: 'file_name'

    g.column name: model_class.human_attribute_name(:import_date), attribute: 'import_date' do |import_file|
      import_file.import_date.strftime('%Y-%m-%d').to_s
    end

    g.column name: model_class.human_attribute_name(:business_id), attribute: 'name', assoc: :business do |import_file|
      import_file.business.try :name
    end

    g.column name: model_class.human_attribute_name(:unit_id), attribute: 'name', assoc: :unit do |import_file|
      import_file.unit.try :name
    end

    g.column name: model_class.human_attribute_name(:user_id), attribute: 'name', assoc: :user do |import_file|
      import_file.user.try :name
    end

    g.column name: model_class.human_attribute_name(:created_at), attribute: 'created_at'do |import_file|
       import_file.created_at.localtime.to_s(:db)
    end

    g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: ImportFile::STATUS.invert do |import_file| 
      import_file.status_name
    end

    g.column name: model_class.human_attribute_name(:import_type), attribute: 'import_type',custom_filter: ImportFile::IMPORT_TYPE.invert do |import_file| 
      import_file.import_type_name
    end

    g.column name: model_class.human_attribute_name(:desc), attribute: 'desc'
    
    g.column do |import_file|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.download', :default => t("helpers.links.download")), download_import_file_path(import_file),:method => 'post', :class => 'btn btn-xs btn-primary' if (can? :download, import_file))<< ' ' <<

      (link_to "错误文件下载", err_download_import_file_path(import_file),:method => 'post', :class => 'btn btn-xs btn-primary' if (can? :err_download, import_file) && (!import_file.desc.eql?"成功"))
    end

  end 
%>