<%= form_for(@query_result_import_file) do |f| %>
  <% if @query_result_import_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query_result_import_file.errors.count, "error") %> prohibited this query_result_import_file from being saved:</h2>

      <ul>
      <% @query_result_import_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
