<h1>Listing query_result_import_files</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @query_result_import_files.each do |query_result_import_file| %>
      <tr>
        <td><%= link_to 'Show', query_result_import_file %></td>
        <td><%= link_to 'Edit', edit_query_result_import_file_path(query_result_import_file) %></td>
        <td><%= link_to 'Destroy', query_result_import_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Query result import file', new_query_result_import_file_path %>
