<h1>Listing import_infos</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @import_infos.each do |import_info| %>
      <tr>
        <td><%= link_to 'Show', import_info %></td>
        <td><%= link_to 'Edit', edit_import_info_path(import_info) %></td>
        <td><%= link_to 'Destroy', import_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import info', new_import_info_path %>
