<h1>Listing qr_attrs</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @qr_attrs.each do |qr_attr| %>
      <tr>
        <td><%= link_to 'Show', qr_attr %></td>
        <td><%= link_to 'Edit', edit_qr_attr_path(qr_attr) %></td>
        <td><%= link_to 'Destroy', qr_attr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qr attr', new_qr_attr_path %>
